.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading__logo {
  height: 100px;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
